.posts-container {
  height: 100vh;
  width: 100vw;
  background-color: #dff9fb;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* .logout-btn {
  position: fixed;
  width: 6rem;
  bottom: 8rem;
  right: 2rem;
  height: 120px;
  width: 120px;
  box-shadow: -10px -10px 15px rgba(225, 225, 225, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  transform: translate(-50%, -50%);

  border-radius: 50%;
  border: 8px solid #ececec;
  outline: none;
} */

/* .logout-btn::after {
  font-family: FontAwesome;
  content: '/f2f5';

} */


.logout-btn {
  position: fixed;
  bottom: 1px;
  right: 200px;
  height: 120px;
  width: 120px;
  box-shadow:  -10px -10px 15px rgba(225,225,225,0.5),10px 10px 15px rgba(70,70,70,0.12);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 8px solid #ecec;
  color: rgb(150, 147, 147);
  background: linear-gradient(145deg, #1c1d21, #17181c);
}

.upload-btn {
  position: fixed;
  top: 15rem;
  right: 13rem;
  width: 7rem;
  box-shadow:  -10px -10px 15px rgba(225,225,225,0.5),10px 10px 15px rgba(70,70,70,0.12);
  transform: translate(-50%, -50%);
  border: 8px solid #ecec;
  color: rgb(150, 147, 147);
  background: linear-gradient(145deg, #1c1d21, #17181c);
  display: block;
}

.video-card {
  color: white;
  height: 100%;
  width: 30rem;
  margin: auto;
  position: relative;
  scroll-snap-align: start;
}

.like {
  font-size: 40px;
  color: #d63031;
  position: absolute;
  bottom: 20vh;
  right: 10px;
}

.comment {
  font-size: 40px;
  position: absolute;
  bottom: 14vh;
  right: 10px;
}

.username {
  position: absolute;
  bottom: 20vh;
  left: 20px;
}

.song {
  position: absolute;
  left: 20px;
  bottom: 16vh;
  display: flex;
  justify-content: space-around;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.comment-box {
  border: 1px solid;
  height: 45%;
  width: 100%;
  background: white;
  position: absolute;
  bottom: 0;
}

.comment-box-close-btn {
  position: absolute;
  top: 0;
  border: none;
  right: 0;
  color: #0984e3;
  height: 10%;
}

.all-comments {
  margin-top: 4.5vh;
  height: 80%;
  width: 100%;
  border: 1px solid black;
}

.comment-form {
  height: 10%;
}

.comment-form input {
  height: 100%;
  width: 80%;
  border: none;
}

.comment-form button {
  height: 100%;
  width: 20%;
  border: none;
  color: #0984e3;
}

img {
  display: block;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.all-comments > div {
  display: flex;
  padding: 8px;
}

.all-comments > div > div {
  margin-left: 20px;
}

.inner-comment {
  margin-top: -1rem;
}
