img {
  display: block;
  margin: auto;
  margin-top: 2rem;
  height: 20rem;
  width: 20rem;
}

.username-profile {
  text-align: center;
  padding-top: 3rem;
  font-size: 3rem;
  font-weight: 100;
}

.ttpost {
  text-align: center;
  font-size: 2rem;
}

#profile {
  position: fixed;
  bottom: 150px;
  right: 200px;
  height: 120px;
  width: 120px;
  box-shadow: -10px -10px 15px rgba(225, 225, 225, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 8px solid #ecec;
  color: rgb(150, 147, 147);
  background: linear-gradient(145deg, #1c1d21, #17181c);
}
